/*

    GENERAL

*/
* {
  box-sizing: border-box;
}
.container {
  position: relative;
  padding: 20px;
}
/*

    HEADER

*/
header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
}
/*

    CONTENT

*/
main {
  margin-top: 80px;
}
/*

    FOOTER

*/
/* Small devices (SM) */
/* Medium devices (MD) */
/* Large devices (LG) */
/* Extra large devices (XL) */
