/*

    GENERAL

*/
* {
  box-sizing: border-box;
}
.container {
  position: relative;
  padding: 20px;
}
/*

    HEADER

*/
header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background: blue;
  padding-bottom: 80px;
}
/*

    CONTENT

*/
main {
  margin-top: 80px;
}
/*

    FOOTER

*/
