/* Small devices (SM) */
@media (min-width:576px)
{
    .hidden-sm
    {
        display:none;
    }
}

/* Medium devices (MD) */
@media (min-width:768px)
{
    .hidden-md
    {
        display:none;
    }
}

/* Large devices (LG) */
@media (min-width:992px)
{
    .hidden-lg
    {
        display:none;
    }

    header
    {
        #main_header
        {
            height:4rem;
        }
        #sub_header
        {
            background:@bg_header2;
            height:4rem;
        }
    }

    main
    {
        margin-top:8rem;
    }
}

/* Extra large devices (XL) */
@media (min-width:1200px)
{
    .hidden-xl
    {
        display:none;
    }
}